<style>
body{
    background: #6B0015;
}
</style>


<div class = "main">
    <div class = "container">

    <h2>Guess wisely.</h2>

        <%= form_tag('/pages', :url => { :action => "submit" }) do %>

            <%= number_field_tag "1", nil, class: "my-num", maxlength: 1 %>
            <%= number_field_tag "2", nil, class: "my-num", maxlength: 1 %>
            <%= number_field_tag "3", nil, class: "my-num", maxlength: 1 %>
            <%= number_field_tag "4", nil, class: "my-num last-num", maxlength: 1 %>
        <br>
        <br>
        <br>
            <%= submit_tag "Submit", class: "submit-btn" %>

        <% end %>
        
    </div>
</div>