<style>
body{
    background: #291509;
}
</style>



<div class = "main">
    <div class = "container">



    <div class = "row riddle riddle6">
    	<div class = "col-md-12 col-sm-12 col-sx-12">

	    		<div><span class = "clue">He took up the blade, and he brought it down hard</span></div>
	    		<div><span class = "clue">For the halls where his father dwelt.</span></div>
				<br>
	    		<div><span class = "clue">And in blinding flash the world was free</span></div>
	    		<div><span class = "clue">And for only a moment, he knelt.</span></div>
	    		<br>
	    		<div><span class = "clue">But he was weak, and he heeded the call</span></div>
	    		<div><span class = "clue">And he stretched out his hand toward sin.</span></div>
	    		<br>
	    		<div><span class = "clue">And the world was doomed for a thousand years</span></div>
	    		<div><span class = "clue">Till again it was saved - by his kin.</span></div>

    	</div>
	</div>

    <div class = "row answer-section">
    	<div class = "col-md-12 col-sm-12 col-sx-12">
	        <%= form_tag('/pages', :url => { :action => "submit" }, :class => 'riddle6') do %>
	            <%= hidden_field_tag "riddle", 6 %>
	            <%= text_field_tag "1", nil, class: "my-num", maxlength: 1 %>
	            <%= text_field_tag "2", nil, class: "my-num", maxlength: 1 %>
	            <%= text_field_tag "3", nil, class: "my-num", maxlength: 1 %>
	            <%= text_field_tag "4", nil, class: "my-num", maxlength: 1 %>
	            <%= text_field_tag "5", nil, class: "my-num", maxlength: 1 %>
	            <%= text_field_tag "6", nil, class: "my-num", maxlength: 1 %>
	            <%= text_field_tag "7", nil, class: "my-num last-num", maxlength: 1 %>
	        <br>
	        <br>
	        <br>
	            
	            <%= submit_tag "Submit", class: "submit-btn" %>
	            

	        <% end %>
    	</div>



</div>

